*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi-Variable';
}

.container  {
    max-width: 1440px;
    margin: auto;
    position: relative;
    
}

nav .logo img{
    width: 107px;
    cursor: pointer;
    mix-blend-mode: difference;
}

nav .logo img:hover {
    mix-blend-mode: normal;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25.5px 80px ;
    align-items: center;
}
nav .nav-links a{
    color: white;
    text-decoration: none;
    padding: 4px 12px;
    font-size: 14px;
    font-weight: 400;
    mix-blend-mode: difference;
    
}


nav .nav-links a:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
    mix-blend-mode: normal;
    border-radius: 4px;
}


nav .cta-btn a{
    text-decoration: none;
    color: black;
    padding: 10px 18px;
    border-radius: 12px;
    mix-blend-mode: difference;
    background-color: white;
}

nav .cta-btn a:hover{
    background-color: white;
    color: black;
    transition: 0.3s ease-in-out;
    mix-blend-mode: normal;
    border-radius: 4px;
}

nav .menu-btn{
    display: none;
}


.hero{
    height: 1024px;
    width: 1440px;
}

.hero-image{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
}

.over-lay{
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;

}




/* --------Footer------- */
footer{
    max-width: 1440px;
    margin: auto;
    padding: 80px 56px 40px 56px;
    background-color: black;
    color: white;
}


footer .left h1{
    font-weight: normal ;
    font-size: 32px;
    width: 545px;
}

.contact {
    display: flex;
    gap: 24px;
    margin-top: 32px;
}

footer .contents {
    display: flex;
    justify-content: space-between;
}

footer .right .nav-links{
    display: flex;
    gap: 24px;
}

footer .right .left{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    
}
footer .right .left a{
    text-decoration: none;
    color: white;

}
footer .right .right{
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    width: 104px;
    
}
footer .right .right a{
    text-decoration: none;
    color: white;

}

footer .right {
    display: flex;
    gap: 24px;
}

footer .follow-us ul li{
    list-style: none;
    padding-bottom: 16px;
}

footer .follow-us ul li a {
    text-decoration: none;
    color: white;
}

footer .right p{
    opacity: 60%;
    padding-bottom:16px;
}

footer .left p{
    color: #FCFCFC;
}

footer .left h4{
    font-weight: normal;
    font-size: 14px;
    padding-bottom: 16px;
    opacity: 60%;

}

footer .copyrights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    border-top: 1px solid white;
    padding: 20px 0 0 0;
}

footer img{
    height: 32px;
}